.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MuiDataGrid-root {
  scrollbar-width: thin;
  scrollbar-color: #c2d0d2 #f0f0f0;
}

.MuiDataGrid-root::-webkit-scrollbar {
  width: 8px;
}

.MuiDataGrid-root::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.MuiDataGrid-root::-webkit-scrollbar-thumb {
  background: #929b9c;
  border-radius: 10px;
}

.MuiDataGrid-root::-webkit-scrollbar-thumb:hover {
  background: #a3b2b5;
}
